<div class="list-group">
    <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
        <i class="fa-solid fa-book-open"></i> Danh mục
    </button>
    <button type="button" class="list-group-item list-group-item-action">Ung Dung Phan Mem</button>
    <button type="button" class="list-group-item list-group-item-action">Lap Trinh Web</button>
    <button type="button" class="list-group-item list-group-item-action">Ky Nang Song</button>
    <button type="button" class="list-group-item list-group-item-action">Giao Tiep Tieng Anh Co Ban</button>
    <button type="button" class="list-group-item list-group-item-action">Giao Tiep Tieng Anh Co Ban</button>
    <button type="button" class="list-group-item list-group-item-action">Giao Tiep Tieng Anh Co Ban</button>
    <button type="button" class="list-group-item list-group-item-action">Giao Tiep Tieng Anh Co Ban</button>
    <button type="button" class="list-group-item list-group-item-action">Giao Tiep Tieng Anh Co Ban</button>
</div>