<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/views/layout/index :: dynamic (~{::main})}">
    <main class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wnE_kZDF-n0"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/QI5Rzira8FI"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>

    </main>
</div>